In [ ]:
import pandas as pd

# Create PostgreSQL engine connection

In [ ]:
# import sqlalchemy
# import os
# from sqlalchemy import create_engine

# print(sqlalchemy.__version__)
# print(os.listdir('train'))
# url = 'postgresql+psycopg2://user:password@localhost:5432/fraud'
# db = create_engine(url)

# dfs = []
# for file_name in os.listdir('train'):
#     if '.csv' in file_name:
#         df = pd.read_csv('train/'+file_name)
#         dfs.append(df)
#         print(file_name)
#         display(df.head())
#         display(df.shape)

# 1. Users 
Load users and fraudsters into pandas and create 'is_fraudster'

In [3]:
import pandas as pd
users = pd.read_csv('train/train_users.csv', index_col=0)
frauds = pd.read_csv('train/train_fraudsters.csv', index_col=0)

In [4]:
users.columns = pd.Series(users.columns.tolist()).str.lower().tolist()

In [5]:
%%time

users['is_fraudster'] = users['id'].apply(lambda x: x in frauds['user_id'].tolist())

CPU times: user 243 ms, sys: 1.8 ms, total: 245 ms
Wall time: 244 ms

## Convert has_email from int to bool

In [6]:
users['has_email'] = users['has_email']==1

## Validate data types

In [7]:
users['created_date'] = pd.to_datetime(users['created_date'])
users['terms_version'] = pd.to_datetime(users['terms_version'])

In [8]:
users.dtypes

failed_sign_in_attempts             int64
kyc                                object
birth_year                          int64
country                            object
state                              object
created_date               datetime64[ns]
terms_version              datetime64[ns]
phone_country                      object
has_email                            bool
id                                 object
is_fraudster                         bool
dtype: object

In [9]:
users.isnull().sum()

failed_sign_in_attempts       0
kyc                           0
birth_year                    0
country                       0
state                         0
created_date                  0
terms_version              1710
phone_country                 0
has_email                     0
id                            0
is_fraudster                  0
dtype: int64

## Unit Test prior to insertion into db

In [10]:
def checkDataTypes(x):
    for i, col in enumerate(x):
        if i==0:
            print(col, all(users[col].str.len()<= 300))
        elif i==1:
            print(col, all(users[col].str.len()== 2))
        elif i==2:
            print(col, all(users[col].str.len()<= 25))
        elif i==3:
            print(col, all(users[col].str.len()<= 20))
            
checkDataTypes(['phone_country',
                'country', 
                'state',
                'kyc'])

phone_country True
country True
state True
kyc True

In [11]:
users.head()

,failed_sign_in_attempts,kyc,birth_year,country,state,created_date,terms_version,phone_country,has_email,id,is_fraudster
0,0,PASSED,1971,GB,ACTIVE,2017-08-06 07:33:33.341,2018-05-25,GB||JE||IM||GG,True,1872820f-e3ac-4c02-bdc7-727897b60043,False
1,0,PASSED,1982,GB,ACTIVE,2017-03-07 10:18:59.427,2018-01-01,GB||JE||IM||GG,True,545ff94d-66f8-4bea-b398-84425fb2301e,False
2,0,PASSED,1973,ES,ACTIVE,2018-05-31 04:41:24.672,2018-09-20,ES,True,10376f1a-a28a-4885-8daa-c8ca496026bb,False
3,0,PASSED,1986,FR,ACTIVE,2018-06-01 17:24:23.852,2018-05-25,FR,True,fd308db7-0753-4377-879f-6ecf2af14e4f,False
4,0,PASSED,1989,GB,ACTIVE,2017-08-09 15:03:33.945,2018-09-20,GB||JE||IM||GG,True,755fe256-a34d-4853-b7ca-d9bb991a86d3,False

In [12]:
users.to_pickle('data/users.pkl')

## Update users table sql

In [13]:
%%time

users.to_sql('users', con=db, if_exists='append', index=False, method='multi')

NameError: name 'db' is not defined

## Validate insert worked

In [14]:
pd.read_sql_table('users', con=db).shape == users.shape

NameError: name 'db' is not defined

# 2. Transactions

In [15]:
tx = pd.read_csv('train/train_transactions.csv', index_col=0)
tx.head()

,CURRENCY,AMOUNT,STATE,CREATED_DATE,MERCHANT_CATEGORY,MERCHANT_COUNTRY,ENTRY_METHOD,USER_ID,TYPE,SOURCE,ID
0,GBP,3738,COMPLETED,2015-10-11 09:05:43.016000,bar,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,5a9ee109-e9b3-4598-8dd7-587591e6a470
1,GBP,588,COMPLETED,2015-10-11 20:08:39.150000,NaN,CA,misc,20100a1d-12bc-41ed-a5e1-bc46216e9696,CARD_PAYMENT,GAIA,28d68bf4-460b-4c8e-9b95-bcda9ab596b5
2,GBP,1264,COMPLETED,2015-10-11 11:37:40.908000,NaN,UKR,misc,0fe472c9-cf3e-4e43-90f3-a0cfb6a4f1f0,CARD_PAYMENT,GAIA,1f1e8817-d40b-4c09-b718-cfc4a6f211df
3,GBP,66,REVERTED,2015-10-11 20:08:35.310000,NaN,CA,misc,20100a1d-12bc-41ed-a5e1-bc46216e9696,CARD_PAYMENT,GAIA,a7aaf78c-d201-456f-9e6d-612a795e8c32
4,GBP,968,COMPLETED,2015-10-11 02:46:47.640000,supermarket,NZL,misc,821014c5-af06-40ff-91f4-77fe7667809f,CARD_PAYMENT,GAIA,27dd99a2-5539-4ba9-876a-1a94abc2701f

In [16]:
tx.isna().sum()

CURRENCY                  0
AMOUNT                    0
STATE                     0
CREATED_DATE              0
MERCHANT_CATEGORY    465586
MERCHANT_COUNTRY     205578
ENTRY_METHOD              0
USER_ID                   0
TYPE                      0
SOURCE                    0
ID                        0
dtype: int64

In [17]:
tx['CREATED_DATE'] = pd.to_datetime(tx['CREATED_DATE'])

In [18]:
tx.dtypes

CURRENCY                     object
AMOUNT                        int64
STATE                        object
CREATED_DATE         datetime64[ns]
MERCHANT_CATEGORY            object
MERCHANT_COUNTRY             object
ENTRY_METHOD                 object
USER_ID                      object
TYPE                         object
SOURCE                       object
ID                           object
dtype: object

In [19]:
def checkTransactionDataTypes(tx):
    for col in tx[['CURRENCY', 'AMOUNT', 'STATE', 'MERCHANT_CATEGORY', 'MERCHANT_COUNTRY',
           'ENTRY_METHOD', 'TYPE', 'SOURCE']].columns:
        if col=='CURRENCY':
            print(col, all(tx[col].str.len()==3))
        if col=='STATE':
            print(col, all(tx[col].str.len()<= 25))
        if col=='MERCHANT_CATEGORY':
            print(col, all(tx[col].str.len()<= 100))
        if col=='MERCHANT_COUNTRY':
            print(col, all(tx[col].str.len()<= 3))
        if col=='ENTRY_METHOD':
            print(col, all(tx[col].str.len()<= 4))
        if col=='TYPE':
            print(col, all(tx[col].str.len()<= 20))
        if col=='SOURCE':
            print(col, all(tx[col].str.len()<= 20))
            
checkTransactionDataTypes(tx)

CURRENCY True
STATE True
MERCHANT_CATEGORY False
MERCHANT_COUNTRY False
ENTRY_METHOD True
TYPE True
SOURCE True

## Fix Merchant Country

In [20]:
import re

to_replace = tx['MERCHANT_COUNTRY'][~(tx['MERCHANT_COUNTRY'].str.len()<= 3)]
replacement = to_replace.str.extract(r'([a-z]+)',flags=re.IGNORECASE)

bad_names_index = to_replace.index

    truncate to 3 chars

In [21]:
tx.loc[bad_names_index, 'MERCHANT_COUNTRY'] = replacement[0]

# Truncate merchant country to 3 chars

In [22]:
replacement = tx['MERCHANT_COUNTRY'][tx['MERCHANT_COUNTRY'].str.len() > 3].apply(lambda x: x[:3])

long_names_index = tx[tx['MERCHANT_COUNTRY'].str.len() > 3].index

tx.loc[long_names_index, 'MERCHANT_COUNTRY'] = replacement

## Rename columns lowercase

In [23]:
tx.columns = pd.Series(tx.columns.tolist()).str.lower().tolist()

In [24]:
tx.dtypes

currency                     object
amount                        int64
state                        object
created_date         datetime64[ns]
merchant_category            object
merchant_country             object
entry_method                 object
user_id                      object
type                         object
source                       object
id                           object
dtype: object

## Insert into transactions table

In [25]:
users = users.rename(columns={'id': 'user_id'})

tx_u = tx.merge(users, on='user_id')

In [26]:
tx_u.to_pickle('data/tx_users.pkl')

In [27]:
%%time

tx.to_sql('transactions', con=db, if_exists='append', 
          index=False, method='multi')

NameError: name 'db' is not defined

In [28]:
db.execute("SELECT * FROM transactions LIMIT 1").fetchall()

NameError: name 'db' is not defined

# 3. Currency Details

In [ ]:
cc = pd.read_csv('train/currency_details.csv', dtype={'iso_code': 'Int64', 'exponent': 'Int64'})

In [ ]:
cc.head()

In [ ]:
cc.dtypes

In [ ]:
%%time

cc.to_sql('currency_details', con=db, if_exists='append',
          index=False, method='multi')

In [ ]:
db.execute("SELECT * FROM currency_details LIMIT 1").fetchall()

In [ ]:
pd.read_sql_table('currency_details', con=db).shape == cc.shape

# 4. fx_rates

In [30]:
fx = pd.read_csv('train/fx_rates.csv')
fx.head()

,Unnamed: 0,EURAED,EURAUD,EURBTC,EURCAD,EURCHF,EURCZK,EURDKK,EURETH,EURGBP,...,USDNZD,USDPLN,USDQAR,USDRON,USDSEK,USDSGD,USDTHB,USDTRY,USDXRP,USDZAR
0,2015-03-03 00:24:00,0.220933,0.640986,6474.325733,0.649184,0.851754,0.028981,0.124352,515.904678,1.129679,...,0.694821,0.266073,0.264650,0.243161,0.104675,0.740842,0.021368,0.208697,0.663482,0.068679
1,2015-03-03 00:42:00,0.221986,0.642039,6474.326786,0.650236,0.852806,0.030033,0.125404,515.905731,1.130732,...,0.695874,0.267125,0.265702,0.244214,0.105728,0.741895,0.022421,0.209750,0.664535,0.069731
2,2015-03-03 02:05:00,0.226196,0.646249,6474.330996,0.654447,0.857017,0.034244,0.129615,515.909941,1.134942,...,0.700084,0.271336,0.269913,0.248425,0.109939,0.746106,0.026632,0.213960,0.668745,0.073942
3,2015-03-03 02:13:00,0.235670,0.655723,6474.340470,0.663921,0.866490,0.043718,0.139088,515.919415,1.144416,...,0.709558,0.280810,0.279387,0.257898,0.119412,0.755579,0.036105,0.223434,0.678219,0.083416
4,2015-03-03 04:55:00,0.225144,0.645196,6474.329944,0.653394,0.855964,0.033191,0.128562,515.908889,1.133890,...,0.699032,0.270283,0.268860,0.247372,0.108886,0.745053,0.025579,0.212908,0.667693,0.072889

In [31]:
fx = fx.rename(columns={'Unnamed: 0': 'ts'})

## melt dataframe

In [32]:
fx = pd.melt(fx, id_vars=['ts'])

In [33]:
fx.head()

                    ts variable     value
0  2015-03-03 00:24:00   EURAED  0.220933
1  2015-03-03 00:42:00   EURAED  0.221986
2  2015-03-03 02:05:00   EURAED  0.226196
3  2015-03-03 02:13:00   EURAED  0.235670
4  2015-03-03 04:55:00   EURAED  0.225144

In [34]:
fx.shape

(838068, 3)

In [35]:
fx['ts'] = pd.to_datetime(fx['ts'])

## Look at each currency

In [36]:
(fx['variable'].str[:3].unique())

array(['EUR', 'GBP', 'USD'], dtype=object)

In [37]:
(fx['variable'].str[3:].unique())

array(['AED', 'AUD', 'BTC', 'CAD', 'CHF', 'CZK', 'DKK', 'ETH', 'GBP',
       'HKD', 'HUF', 'ILS', 'INR', 'JPY', 'LTC', 'MAD', 'NOK', 'NZD',
       'PLN', 'QAR', 'RON', 'SEK', 'SGD', 'THB', 'TRY', 'USD', 'XRP',
       'ZAR', 'EUR'], dtype=object)

## Split up exchange

In [38]:
ccy = fx['variable'].apply(lambda x: [x[:3], x[3:]])

base = []
trans = []
for item in ccy.iteritems():
    base.append(item[1][0])
    trans.append(item[1][1])

fx['base'] = base
fx['trans'] = trans

fx = fx.drop('variable', 1)

fx = fx.rename(columns={'value': 'rate', 
                       'base': 'base_ccy',
                       'trans' :'ccy'})

In [39]:
fx.head()

                   ts      rate base_ccy  ccy
0 2015-03-03 00:24:00  0.220933      EUR  AED
1 2015-03-03 00:42:00  0.221986      EUR  AED
2 2015-03-03 02:05:00  0.226196      EUR  AED
3 2015-03-03 02:13:00  0.235670      EUR  AED
4 2015-03-03 04:55:00  0.225144      EUR  AED

In [40]:
fx.dtypes

ts          datetime64[ns]
rate               float64
base_ccy            object
ccy                 object
dtype: object

In [41]:
fx.shape

(838068, 4)

# Unit test

In [42]:
def checkTransactionDataTypes(fx):
    for col in fx[['base_ccy', 'ccy']].columns:
        if col=='base_ccy':
            print(col, all(fx[col].str.len()<=3))
        if col=='ccy':
            print(col, all(fx[col].str.len()<= 10))
            
checkTransactionDataTypes(fx)

base_ccy True
ccy True

# Create rates for USD per transaction and join

In [43]:
tx_u = tx_u.rename(columns={'created_date_x': 'ts',
                           'currency': 'base_ccy'})

In [48]:
tx_u.shape

(688651, 21)

In [53]:
f = fx[fx.ccy=='USD']

In [56]:
rates_usd = pd.merge_asof(tx_u.sort_values(by='ts'),f.sort_values(by='ts'), 
              on='ts', by='base_ccy', allow_exact_matches=False)

In [57]:
rates_usd.to_pickle('data/rates_usd.pkl')

# Send to sql

In [70]:
%%time

fx.to_sql('fx_rates', con=db, if_exists='append',
          index=False, method='multi')

CPU times: user 1min 8s, sys: 1.66 s, total: 1min 10s
Wall time: 1min 26s

In [71]:
db.execute("SELECT * FROM fx_rates order by ts LIMIT 3").fetchall()

[(datetime.datetime(2015, 3, 3, 0, 24), 0.220933095564618, 'EUR', 'AED'),
 (datetime.datetime(2015, 3, 3, 0, 24), 0.640985934472407, 'EUR', 'AUD'),
 (datetime.datetime(2015, 3, 3, 0, 24), 6474.32573315378, 'EUR', 'BTC')]

In [99]:
users

,failed_sign_in_attempts,kyc,birth_year,country,state,created_date,terms_version,phone_country,has_email,id,is_fraudster
0,0,PASSED,1971,GB,ACTIVE,2017-08-06 07:33:33.341,2018-05-25,GB||JE||IM||GG,True,1872820f-e3ac-4c02-bdc7-727897b60043,False
1,0,PASSED,1982,GB,ACTIVE,2017-03-07 10:18:59.427,2018-01-01,GB||JE||IM||GG,True,545ff94d-66f8-4bea-b398-84425fb2301e,False
2,0,PASSED,1973,ES,ACTIVE,2018-05-31 04:41:24.672,2018-09-20,ES,True,10376f1a-a28a-4885-8daa-c8ca496026bb,False
3,0,PASSED,1986,FR,ACTIVE,2018-06-01 17:24:23.852,2018-05-25,FR,True,fd308db7-0753-4377-879f-6ecf2af14e4f,False
4,0,PASSED,1989,GB,ACTIVE,2017-08-09 15:03:33.945,2018-09-20,GB||JE||IM||GG,True,755fe256-a34d-4853-b7ca-d9bb991a86d3,False
5,0,PASSED,1979,GB,ACTIVE,2017-12-30 16:44:36.223,2018-03-20,GB||JE||IM||GG,True,1cc43441-bb77-47ef-98e5-4af09ccf3c83,False
6,0,PASSED,1992,FR,ACTIVE,2016-02-17 18:16:20.933,2018-03-20,FR,True,5a9bae2c-db88-4744-b710-644fa625c7bb,False
7,0,PASSED,1992,SI,ACTIVE,2017-01-07 11:02:29.410,2018-05-25,SI,True,60b99cff-7bf8-44e8-9ebf-9fd59d9cbca2,False
8,0,NONE,1983,PL,ACTIVE,2017-12-15 17:22:24.663,2018-01-13,PL,True,25356d21-d942-47d5-b3a9-d521c79a2ae6,False
9,0,PASSED,1980,GB,ACTIVE,2017-08-17 15:59:21.351,2018-05-25,GB||JE||IM||GG,True,fb125ed6-c85c-47b3-bb96-3493683659b8,False
10,0,PASSED,1989,BE,ACTIVE,2018-02-24 13:26:47.609,2018-05-25,BE,True,ada797f9-2e13-4cad-934f-00e861b5ebd8,False
11,0,PASSED,1995,GB,ACTIVE,2017-06-05 09:30:34.633,2018-03-20,GB||JE||IM||GG,True,d0277989-4463-42b4-870f-7ba73df09d0e,False
12,0,PASSED,1980,GB,ACTIVE,2017-11-29 18:00:11.189,2018-05-25,GB||JE||IM||GG,True,723ee8bc-e8a6-4503-80e5-ba48d8319bc9,False
13,0,FAILED,1966,GB,ACTIVE,2015-11-06 12:39:34.355,NaT,GB||JE||IM||GG,False,62edb2a5-8b28-466a-9a9a-b3e314f2f771,False
14,0,NONE,1978,GB,ACTIVE,2018-06-04 17:18:50.672,2018-05-25,GB||JE||IM||GG,True,c09d96d6-af80-427e-b3ce-33dde700902a,False
15,0,FAILED,1988,CH,ACTIVE,2018-03-23 08:05:43.491,2018-03-20,CH,True,6e54fc91-6a93-4404-aab0-b70d05cc3184,False
16,0,PASSED,1982,GB,ACTIVE,2017-06-17 22:55:21.960,NaT,GB||JE||IM||GG,True,dffa5b2e-c20b-495e-8592-7e680393d60a,False
17,0,PASSED,1982,CZ,ACTIVE,2018-05-22 18:06:43.111,2018-09-20,CZ,True,d966bbc8-4f4a-477b-b00e-034aec8004f1,False
18,0,PASSED,1967,GB,ACTIVE,2018-05-27 09:52:24.774,2018-05-25,GB||JE||IM||GG,True,d15b5087-5a2a-4edf-865d-7f05ed835efc,False
19,0,NONE,1992,ES,ACTIVE,2018-06-10 14:17:47.541,2018-05-25,ES,True,3280f3fd-a299-4be0-8392-47a0306f3dc4,False
20,0,NONE,1979,GB,ACTIVE,2016-01-22 22:31:59.780,NaT,GB||JE||IM||GG,False,7717f6ff-1e56-46b4-b229-feb904055696,False
21,0,PASSED,1960,GB,ACTIVE,2015-11-22 10:43:28.575,2018-05-25,GB||JE||IM||GG,True,aed21f21-111d-4efd-b114-b08c24f6dd18,False
22,0,NONE,1981,GR,ACTIVE,2016-03-25 18:43:05.920,NaT,GR,False,5e2d047c-7fbe-4093-988e-dbce6de196f7,False
23,0,NONE,1950,GB,ACTIVE,2016-10-27 19:50:10.244,NaT,GB||JE||IM||GG,True,246e5f8d-024c-46d3-8e66-8ef2fc64628c,False
24,0,PASSED,1995,FR,ACTIVE,2018-06-09 16:06:31.893,2018-05-25,FR,True,51545a9e-f5a6-4651-9c50-98bf5337fce7,False
25,0,PASSED,1987,GB,ACTIVE,2018-01-08 16:18:46.403,2018-01-13,GB||JE||IM||GG,True,0edeb1ee-171d-48f1-9ef3-a9ced0146912,False
26,0,PASSED,1988,GB,ACTIVE,2016-08-15 23:30:22.162,2017-01-16,GB||JE||IM||GG,True,a985f42d-3eeb-419a-9dde-16898b88a84f,False
27,0,NONE,1981,FI,ACTIVE,2016-09-05 15:53:18.774,2018-01-13,FI||AX,True,77652bef-cd89-4faa-b7ef-2adb1034fda1,False
28,0,PASSED,1971,GB,ACTIVE,2017-01-03 19:42:02.888,2018-05-25,GB||JE||IM||GG,True,db99d304-92ca-42bb-9051-ae49af4ed014,False
29,0,PASSED,1994,GB,ACTIVE,2018-06-17 15:13:59.833,2018-05-25,GB||JE||IM||GG,True,56f7da45-bb38-4960-87eb-3201f81cd865,False
...,...,...,...,...,...,...,...,...,...,...,...
10469,0,PASSED,1984,GB,ACTIVE,2018-04-25 10:47:15.288,2018-09-20,GB||JE||IM||GG,True,c63999d7-5ee8-469d-a744-acf2098a78e1,False
10470,0,PASSED,1981,GB,ACTIVE,2017-05-22 19:34:05.199,2018-09-20,FR,True,1b8e7803-696c-4dbf-8836-e0a89c151732,False
10471,0,PASSED,1962,GB,ACTIVE,2018-05-08 18:05:55.026,2018-03-20,GB||JE||IM||GG,True,f19363d1-5526-4b68-b0bd-b51e23e4f94e,False
10472,0,PASSED,1995,IE,ACTIVE,2017-08-19 03:59:36.354,2018-09-20,IE,True,9342eb51-5879-4668-9f25-10bd5fb32bcf,False
10473,0,FAILED,1985,FR,ACTIVE,2017-09-25 21:33:57.532,NaT,FR,True,1054a028-8ad6-4841-8f92-0ac6aaa467d6,False
10474,0,PASSED,1984,RO,ACTIVE,2018-06-30 08:41:57.332,2018-05-25,RO,True,6c29569b-b9f6-43a0-80be-8927cec8e6bf,False
10475,0,PASSED,1961,PL,ACTIVE,2018-07-03 09:51:15.985,2018-05-25,PL,True,90bd79d1-df5a-47e6-b0fb-0298d358ab37,False
10476,0,NONE,1950,ES,ACTIVE,2018-04-16 07:37:09.713,2018-03-20,ES,True,bd4ca3c8-6c2f-46da-9b53-5df6ade584c6,False
10477,0,PASSED,1982,FR,ACTIVE,2016-05-01 13:55:17.097,2018-03-20,FR,True,190237c8-752c-4023-ae63-65d395e6fdb8,False
10478,0,NONE,1985,FR,ACTIVE,2017-03-26 21:36:21.939,NaT,FR,False,ce6db959-69ef-42a2-afd5-73edf58ebf73,False
10479,0,NONE,1998,ES,ACTIVE,2018-07-30 21:14:19.328,2018-09-20,ES,True,9dda7800-f129-4b48-9b65-9a97640be789,False
10480,0,PASSED,1985,GB,ACTIVE,2016-11-29 10:00:04.539,2018-05-25,GB||JE||IM||GG,True,e3874f6a-c4eb-44c9-859b-7923a17b8746,False
10481,0,PASSED,1983,PL,ACTIVE,2018-01-15 09:48:59.966,2018-09-20,PL,True,094ee519-b4f1-4b2b-94ee-5ad51fac8124,False
10482,0,PASSED,1998,GB,ACTIVE,2017-05-25 20:49:16.485,2018-09-20,GB||JE||IM||GG,True,5e7ad904-fa50-46d7-86e2-9ff16812eba3,False
10483,0,PASSED,1981,SI,ACTIVE,2017-12-24 20:34:12.858,2018-05-25,SI,True,e273b758-c46f-4705-9644-60615ceba7f2,False
10484,0,PASSED,1981,PL,ACTIVE,2018-07-13 17:58:27.244,2018-09-20,PL,True,6733f0d3-df92-42df-ab1c-f34bfdb66245,False
10485,0,PASSED,1987,GB,ACTIVE,2017-07-05 22:36:26.796,NaT,GB||JE||IM||GG,True,7160ecd8-4e2c-4088-9fbf-64ce8d57f67e,False
10486,0,NONE,1984,GB,ACTIVE,2017-05-24 08:03:42.911,NaT,GB||JE||IM||GG,True,3dfdfb5b-93c7-4904-bfef-a6251d60420c,False
10487,0,PASSED,1974,GB,ACTIVE,2015-11-27 17:42:41.013,2018-03-20,GB||JE||IM||GG,True,100c83c2-552c-4749-a856-e6634f0553ff,False
10488,0,PASSED,1977,GB,ACTIVE,2018-06-25 21:15:36.834,2018-05-25,GB||JE||IM||GG,True,cebd1cb6-3e04-4d5d-930a-9d28ec658200,False
10489,0,NONE,1972,GB,ACTIVE,2017-01-17 17:23:22.178,NaT,GB||JE||IM||GG,False,e53276ac-25af-4000-bede-80ceaeb096cd,False
10490,0,NONE,1967,ES,ACTIVE,2018-06-08 13:34:36.553,2018-05-25,ES,True,06453995-2ee9-4627-8ee6-33ac086497c2,False
10491,0,NONE,1992,PL,ACTIVE,2016-10-18 11:12:52.340,NaT,PL,True,01ab82ab-ea7a-470a-94ba-4fc2b819eca9,False
10492,0,PASSED,1996,FR,ACTIVE,2017-09-27 08:46:04.094,2018-05-25,FR,True,0e92dd75-e851-47fa-a78c-02e2dafd4a3b,False
10493,0,PASSED,1990,IE,ACTIVE,2018-07-14 07:41:37.833,2018-05-25,IE,True,06b58502-a8fc-4fb6-a446-390ee81a141c,False
10494,0,PASSED,1998,GB,ACTIVE,2017-01-27 18:23:38.486,NaT,GB||JE||IM||GG,True,544777fa-b18b-4b9e-bcdc-7e10f4e0712c,False
10495,0,NONE,1994,LT,ACTIVE,2017-12-20 11:00:03.873,2018-01-13,LT,True,438f235a-3f6e-4663-ba95-fa107b11bfc5,False
10496,0,PASSED,1958,PT,ACTIVE,2018-07-11 10:12:00.098,2018-05-25,PT,True,268d4b0a-dd32-4ca3-ba6f-d571a1fd9428,False
10497,0,NONE,1961,GB,ACTIVE,2018-02-23 16:24:40.716,2018-03-20,GB||JE||IM||GG,True,55995ada-5797-4f7e-82da-62a3d4051e8b,False
10498,0,NONE,1995,PT,ACTIVE,2017-12-10 15:40:42.304,2018-01-01,PT,True,66c936f2-f22c-4f68-9dbe-567c0ca653fa,False

In [101]:
fx.head()

                   ts      rate base_ccy  ccy
0 2015-03-03 00:24:00  0.220933      EUR  AED
1 2015-03-03 00:42:00  0.221986      EUR  AED
2 2015-03-03 02:05:00  0.226196      EUR  AED
3 2015-03-03 02:13:00  0.235670      EUR  AED
4 2015-03-03 04:55:00  0.225144      EUR  AED

In [102]:
tx.head()

,currency,amount,state,created_date,merchant_category,merchant_country,entry_method,user_id,type,source,id
0,GBP,3738,COMPLETED,2015-10-11 09:05:43.016,bar,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,5a9ee109-e9b3-4598-8dd7-587591e6a470
1,GBP,588,COMPLETED,2015-10-11 20:08:39.150,NaN,CA,misc,20100a1d-12bc-41ed-a5e1-bc46216e9696,CARD_PAYMENT,GAIA,28d68bf4-460b-4c8e-9b95-bcda9ab596b5
2,GBP,1264,COMPLETED,2015-10-11 11:37:40.908,NaN,UKR,misc,0fe472c9-cf3e-4e43-90f3-a0cfb6a4f1f0,CARD_PAYMENT,GAIA,1f1e8817-d40b-4c09-b718-cfc4a6f211df
3,GBP,66,REVERTED,2015-10-11 20:08:35.310,NaN,CA,misc,20100a1d-12bc-41ed-a5e1-bc46216e9696,CARD_PAYMENT,GAIA,a7aaf78c-d201-456f-9e6d-612a795e8c32
4,GBP,968,COMPLETED,2015-10-11 02:46:47.640,supermarket,NZL,misc,821014c5-af06-40ff-91f4-77fe7667809f,CARD_PAYMENT,GAIA,27dd99a2-5539-4ba9-876a-1a94abc2701f