# Identify users whose 1st tx was a completed card payment > 10 dollars USD

# transactions table
- STATE='COMPLETED'
- TYPE='CARD_PAYMENT'
- currency
- amount

# users table
- user_id
- 
join on user_id = user_id

In [1]:
from sqlalchemy import create_engine
import sqlalchemy

url = 'postgresql+psycopg2://dave:Dotdbs129@localhost:5432/fraud'
db = create_engine(url)

# Write a query to identify users whose first transaction was a successful card payment over $10 USD. 
(Note: Use the rate from latest timestamp before the transaction timestamp)

In [2]:
%%time

db.execute("""
WITH dates AS (
SELECT 
    t.user_id,
    MIN(t.created_date) as min_date
FROM
    transactions t
WHERE 
  t.state = 'COMPLETED' AND
  t.type = 'CARD_PAYMENT'
GROUP BY 1
),

amounts AS (
SELECT
    CASE WHEN t.currency!='USD' 
         THEN f.rate * t.amount
         ELSE 1 * t.amount
    END AS amount,
    t.user_id,
    t.id,
    t.merchant_country,
    t.merchant_category,
    d.min_date
FROM transactions t
JOIN dates d ON t.user_id =d.user_id AND
    t.created_date=d.min_date
JOIN fx_rates f ON t.currency=f.base_ccy AND
    f.ts < d.min_date
)

SELECT 
*
FROM amounts a
WHERE a.amount > 10
LIMIT 50
""").fetchall()

CPU times: user 5.7 ms, sys: 2.8 ms, total: 8.5 ms
Wall time: 1.08 s

[(1477.49571185684, '3003e3b6-9e3f-4bb4-b13f-0503ecb5618b', '1f1bb7b0-539e-485b-985a-7a13491e5b76', 'GBR', None, datetime.datetime(2018, 3, 22, 10, 6, 40, 887000)),
 (401.878833625061, '5963294f-04d0-4dd5-94ab-2fe11893678f', '12ba42de-e7aa-451a-8357-c56a4e9eb72c', 'PRT', 'neighborhood', datetime.datetime(2017, 6, 11, 9, 14, 22, 297000)),
 (598.385763302021, '3e6f7168-d80c-4f04-8064-040ed6c85113', '2391abb0-a626-42bc-874b-c7b4fdf71051', 'GBR', 'supermarket', datetime.datetime(2018, 4, 8, 13, 32, 54, 389000)),
 (443.248713557053, '142a292b-4b01-45d6-9da1-fc4bb8d11640', 'eb812a79-be9f-46ee-bb39-8d75121a47f3', 'GBR', 'bar', datetime.datetime(2018, 6, 13, 12, 48, 36, 361000)),
 (7387.47855928422, '3c65dee2-6496-4f8b-8efc-efc73b315129', 'c784967d-8de2-498d-8e9d-e7435c90fa25', 'GBR', 'atm', datetime.datetime(2017, 12, 18, 12, 17, 43, 952000)),
 (162.524528304253, '7c7cc41e-d454-42d2-9473-5c5904c19c50', 'dd55b583-b06e-4666-a99b-7df4f22fa73a', 'GBR', None, datetime.datetime(2018, 7, 26, 13, 43, 39, 577000)),
 (1107.3830360367, '0574f01a-c0b3-46d6-ad67-1e2d9df55076', '43d58644-a0b0-436a-92f7-cffda1787f04', 'GBR', 'electronics_store', datetime.datetime(2017, 7, 18, 19, 26, 7, 272000)),
 (472.059879938261, 'b167a093-90a9-490e-9b14-b81948972317', '19a91485-997c-467a-8d02-9901605cc9ef', 'GBR', 'supermarket', datetime.datetime(2018, 5, 20, 9, 10, 24, 165000)),
 (3051.02864498438, 'e99dce21-5848-4237-945a-b48ec51abfe8', '2a4a7563-1375-48aa-9d5e-4b1bb3e40948', 'USA', 'clothing_store', datetime.datetime(2016, 4, 9, 23, 38, 44, 835000)),
 (254.868010295305, '1ff628ef-65b3-4c25-8ba2-27a8fd9a49e3', '16ab1dd6-e534-4923-9dd9-6013ad9e5f15', 'GBR', 'supermarket', datetime.datetime(2017, 11, 3, 20, 25, 48, 861000)),
 (66.4873070335579, 'a895ae88-3384-417f-94f5-3cd51e1bfd9d', '59eb801d-fcac-4985-95af-89d9db6c76e7', 'GBR', 'cafe', datetime.datetime(2018, 5, 2, 17, 23, 49, 398000)),
 (7521.19192120726, '6eca0a0c-1f5a-4a06-ba69-b864cb8a759f', 'f022dfc1-0f71-4d30-ab51-4029f7b865b0', 'GBR', 'shoe_store', datetime.datetime(2016, 11, 15, 12, 11, 32, 918000)),
 (649.359365361082, '9c1706d9-5efa-42b8-858c-4df2e96c2114', '4ccbcd60-0595-4a43-b621-1448a4debe49', 'NLD', None, datetime.datetime(2018, 1, 19, 14, 2, 35, 146000)),
 (316.922830193293, '024320ea-0cfa-4ce9-8d44-ad9fbfaf29e4', 'b25e2934-1a0d-4879-ab91-85a6ba44ea91', 'GBR', None, datetime.datetime(2018, 4, 8, 15, 24, 4, 598000)),
 (280.7241852528, '0f2550fe-85d1-4e4a-8184-d2863850f630', '8d9d969e-4ea5-482a-98ca-b0ef918f035a', 'POL', 'airport', datetime.datetime(2017, 10, 15, 9, 38, 24, 490000)),
 (424.041269302914, 'de25edaa-9c7d-4800-8356-1c80b7750c03', '844984f2-d027-4d3d-929e-2ddead5d5047', 'GBR', 'cafe', datetime.datetime(2017, 11, 30, 14, 40, 0, 303000)),
 (5248.06476851551, '0f4b81fe-a711-4801-bc26-b8ea21f5b0c0', '5edbb9c3-2bbd-4aad-b14e-c761af6dca81', 'NLD', None, datetime.datetime(2018, 7, 27, 12, 0, 26, 541000)),
 (639.016895378085, '21d30da0-ea25-4668-81dd-12b49fad0f1a', '96a58921-a44d-4d97-a519-d2c8558989b7', 'GBR', 'supermarket', datetime.datetime(2018, 3, 25, 17, 16, 45, 83000)),
 (184.686963982105, '22152231-b840-4deb-8682-917f0adc482e', 'f256addb-11a3-4b50-aad8-c83734973865', 'GBR', 'supermarket', datetime.datetime(2018, 6, 26, 7, 33, 48, 736000)),
 (322.83281304072, '6d2ad558-d0e3-4019-b470-2c6845bc8f68', '755d8204-a540-498e-a05d-afa315730117', 'GBR', None, datetime.datetime(2018, 4, 10, 12, 49, 57, 841000)),
 (454.329931395979, '0c826a84-409f-4fd9-9da9-18c7a7a816ec', '12bbe63d-a6d2-4d76-ae43-1bdd2043f6e2', 'GBR', None, datetime.datetime(2016, 11, 6, 22, 6, 31, 499000)),
 (369.373927964211, '31fbd505-f6e9-43a1-9f33-7f53d42878fb', 'ef97ef2c-57b3-4d8d-bcb3-5e38b0eec8c8', 'DNK', None, datetime.datetime(2017, 10, 19, 22, 25, 59, 511000)),
 (1115.50926245192, '272e9927-545a-49e0-a7b7-1c7addf2b9e8', '13c57d9f-03c1-402e-95b9-0091b563157e', 'GBR', 'supermarket', datetime.datetime(2018, 5, 23, 9, 16, 44, 767000)),
 (546.673413387032, '65a2540c-737a-45e4-af72-9e81603833a0', '454be67c-b2ed-4f16-9992-f2116a823f2e', 'GBR', None, datetime.datetime(2018, 4, 6, 14, 53, 1, 514000)),
 (295.499142371369, 'c5c9fa8d-5915-4447-a5c3-b5ddede8242c', '94aac1aa-e754-40a6-a06f-559c5f357af1', 'GBR', None, datetime.datetime(2016, 8, 7, 19, 6, 4, 226000)),
 (2217.72106349712, 'fb8c0ba1-3056-467b-8e9d-a3e45e510825', 'e047367d-dbdf-410c-8dbb-e3d9ba751155', 'CAN', None, datetime.datetime(2017, 7, 26, 14, 46, 6, 147000)),
 (2086.96269299779, '1fa3a5fe-e607-41ad-b524-bf8d040889d7', '286ef9b8-864d-444c-930f-cd52eb87f945', 'GBR', None, datetime.datetime(2016, 7, 21, 9, 54, 38, 113000)),
 (498.654802751685, 'd7b84ac3-0a49-4b18-841d-349275407c99', '9e1a6b41-e62e-4d90-9c30-9d604c871115', 'GBR', 'supermarket', datetime.datetime(2018, 3, 10, 17, 52, 54, 166000)),
 (62.7935677539158, '91a892a6-c3b5-4133-ad8d-47bef96a9d52', '739761c7-e266-4f70-9007-dbb728b34301', 'GBR', 'bar', datetime.datetime(2017, 8, 25, 6, 10, 38, 227000)),
 (1357.81855919644, '2ee0a06e-1b55-4210-9efd-d271ecb8c995', '7ad0a4e8-a835-466f-a791-b8df05a9288c', 'GBR', 'supermarket', datetime.datetime(2017, 12, 12, 14, 5, 44, 267000)),
 (834.046329343188, 'dc283b17-bbe1-4ae9-a11c-0029d5ae71d9', '869418ea-5ce4-4334-bb23-9d16b0025e4d', 'GBR', None, datetime.datetime(2018, 1, 26, 10, 52, 1, 136000)),
 (57.6223327624169, 'f599d0b5-4963-428c-9a95-af19bdcc5f9e', 'e6e449f4-c28f-4673-8471-d95b4445237a', 'LUX', 'point_of_interest', datetime.datetime(2017, 6, 2, 15, 16, 1, 690000)),
 (5166.06375650745, '7559ff5a-3942-43f7-a7e9-21ec8f5780c7', '11d48e02-1537-4e81-8658-7a6755a4720e', 'JPN', None, datetime.datetime(2017, 8, 18, 5, 53, 41, 474000)),
 (1348.9535849253, 'bc50ac7c-bc32-4fdd-895b-7b5afb87002a', '2c54cb22-f6f6-470c-b160-00d09a87ac17', 'ISR', None, datetime.datetime(2017, 12, 25, 12, 12, 21, 368000)),
 (287.372915956156, '19d66fbe-46a0-4bbf-9865-0efd99949f98', 'f1666cea-8a4c-40c7-8d8d-9023239bd037', 'CAN', None, datetime.datetime(2018, 4, 9, 7, 27, 53, 520000)),
 (509.736020590611, 'c190d8f7-02ae-4b2e-b8eb-d5499b1f05cc', '37ddba8b-3901-43f7-9a5c-a169616847a0', 'GBR', None, datetime.datetime(2018, 7, 7, 7, 55, 39, 281000)),
 (92.3434819910527, 'c7827f01-e284-4210-b8b7-7660b76acf25', '33b9a5bf-15fc-4bd8-8d26-c7c537a90b09', 'GBR', None, datetime.datetime(2017, 7, 13, 23, 11, 4, 791000)),
 (3296.29293315262, 'f7e0dd75-31ed-4568-b455-21268688398d', 'eba07ad7-b8d0-4eba-9c91-92707d5d3e98', 'NZL', None, datetime.datetime(2017, 8, 30, 22, 38, 32, 281000)),
 (738.747855928421, 'b6f38b50-82b6-47ac-8ec7-e7ca28b9d39b', '4015fb38-85d5-4a02-abf1-97757841692a', 'GBR', None, datetime.datetime(2018, 3, 11, 14, 10, 55, 661000)),
 (316.184082337364, 'e0aee5dc-b5d8-4737-a4bc-b69ea2c83111', '68ac6011-78bb-42c9-9fe2-ccf5daf5fd0d', 'GBR', 'restaurant', datetime.datetime(2018, 5, 5, 14, 11, 53, 73000)),
 (7387.47855928422, 'ab9befc4-4126-49f4-9bd5-3845624dd1b3', 'f6522df9-9262-4330-83a9-3f40aa91deb8', 'GBR', None, datetime.datetime(2017, 5, 24, 10, 49, 50, 659000)),
 (110.812178389263, '994024c3-ef9e-4868-974e-a0c366f2c3d0', 'd8a075b0-39e5-43e0-8a08-5941c30c19a9', 'GBR', None, datetime.datetime(2018, 6, 15, 3, 11, 42, 349000)),
 (1477.49571185684, '1161adca-2a97-45c5-9931-ac394780addc', '89698738-c036-4a17-adc5-0c1f3b9f1ab3', 'GBR', 'subway_station', datetime.datetime(2018, 2, 23, 6, 42, 20, 671000)),
 (387.842624362421, '0beffd2d-37ad-46a6-988c-80654913faee', '484ef257-99ca-4dcd-b2f3-543b3f0d6d66', 'GBR', None, datetime.datetime(2018, 4, 23, 10, 42, 8, 37000)),
 (402.61758148099, 'c2f3d45d-3d6e-4b6c-8004-4281fca31f97', '789fa24e-bc94-4d51-b656-882239e5539b', 'GBR', None, datetime.datetime(2015, 9, 24, 13, 28, 42, 238000)),
 (243.786792456379, '3b72a9b8-fb4f-4507-8524-75b6ffcaa177', '78a7fcff-7ac7-4f3e-8a23-06b889669c17', 'GBR', 'school', datetime.datetime(2018, 2, 2, 23, 14, 48, 102000)),
 (6452.22377367883, '1ff034a8-8992-4803-95bc-73675222760c', '537d63e2-78e9-4f4c-839b-b3d7721d238f', 'LTU', 'point_of_interest', datetime.datetime(2018, 4, 5, 14, 46, 41, 924000)),
 (2799.85437396872, 'ddd5efc8-4c80-4813-bb6b-68696951545e', 'e9ec76ee-bc3c-4612-b7ad-2854fcc1ec59', 'GBR', None, datetime.datetime(2018, 3, 10, 10, 5, 1, 38000)),
 (1289.1150085951, 'b2cc0d04-20c2-4513-bbd4-d24dd6d53437', 'e2e2d792-cb21-421e-833b-39aee27fe916', 'ARE', None, datetime.datetime(2016, 9, 24, 12, 29, 48, 231000)),
 (312.490343057722, '3f645a70-fbd4-4773-af3b-ac0a4a0da249', '8bbbf3ba-7e5f-41a8-9b95-5634538e3a77', 'GBR', 'convenience_store', datetime.datetime(2018, 5, 10, 11, 35, 42, 420000))]

# Final output 
```amount, user_id, transaction_id, merchant_country, merchant_category, created_date```